---
layout: default
title: "Speakers"
description: "Speakers"
---

	
{% for speaker in site.data.speakers %}
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">{{ speaker.name }}</h3>
	  </div>
	  {% if speaker.image != null %}
	  <div class="panel-body">
	    <div class="col-md-4">
			<img src="/images/{{ speaker.image }}" class="center-block img-responsive" />
		</div>
		<div class="col-md-8">
			{{ speaker.description }}
		</div>
	  </div>
	  {% else %}
	  <div class="panel-body">
		<div class="col-md-12">
			{{ speaker.description }}
		</div>
	  </div>
	  {% endif %}
	</div>
{% endfor %}


<script type="text/javascript">
	
</script>