---
layout: default
title: "Sponsors"
description: ""
---
<h2>Our Sponsors</h2>
<p>We would like to thank our sponsors, who without their support, the IT Pro Camp would not be a success.</p>

<div class="row">
{% for sponsor in site.data.sponsors %}
	{% if sponsor.url != null %}
	  	<div class="col-md-4">
			<a href="{{ sponsor.url }}" target="_blank">
				<img src="/images/{{ sponsor.image }}" class="img-responsive" />
			</a>
		</div>
	{% else %}
		<div class="col-md-4">
			<img src="/images/{{ sponsor.image }}" class="img-responsive" />
		</div>
	{% endif %}
{% endfor %}
</div>
